@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v11/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPqPQw.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}
* {
  font-family: "Roboto Mono", monospace;
}
.signUpFormContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}
.signUpFormContainer form .innerSignUpFormDiv label {
  display: flex;
  flex-direction: column;
  margin: 3% 0;
}
.signUpFormContainer form .innerSignUpFormDiv label input {
  border-radius: 6px;
  width: 500px;
  height: 30px;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp {
  display: flex;
  align-items: center;
  align-self: center;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp p {
  font-size: 1.4rem;
  margin-right: 2%;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp a {
  font-size: 1.4rem;
  color: #3086C2;
  text-decoration: none;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp button {
  background-color: #3086C2;
  color: white;
  font-size: 2rem ;
  width: 150px;
  padding: 1% 0;
  border: none;
  border-radius: 6px;
  margin-right: 5%;
}
