html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v11/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPqPQw.ttf) format('truetype');
}
* {
  font-family: "Roboto Mono", monospace;
}
html {
  font-size: 62.5%;
  background: #f0f0f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}
@keyframes shake {
  30% {
    transform: translateY(55px);
  }
  70% {
    transform: translateY(-55px);
    color: black;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes openFade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
nav {
  background-color: #2f364d;
  top: 0;
  padding: 30px;
  margin: 0;
  height: 100%;
  width: 97%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
}
nav .logo {
  font-size: 2.2rem;
  font-weight: 600;
}
nav a {
  color: white;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  margin: 10px;
}
.signUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpFormContainer form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  justify-content: center;
  width: 80%;
}
.signUpFormContainer form .innerSignUpFormDiv label {
  display: flex;
  flex-direction: column;
  margin-top: 3% 0;
  font-size: 1.8rem;
  font-weight: 600;
}
.signUpFormContainer form .innerSignUpFormDiv label .valid {
  margin-top: 1%;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 35px;
  outline: none;
  appearance: none;
}
.signUpFormContainer form .innerSignUpFormDiv label .valid:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt #3086c2;
  border-radius: 8px;
  border-color: #3086c2;
}
.signUpFormContainer form .innerSignUpFormDiv .notValid {
  margin: 1% 0;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 35px;
  outline: none;
  appearance: none;
}
.signUpFormContainer form .innerSignUpFormDiv .notValid:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt red;
  border-radius: 8px;
  border-color: red;
}
.signUpFormContainer form .innerSignUpFormDiv .error {
  font-size: 1.2rem;
  margin-top: 0;
  font-weight: 600;
  color: red;
  margin-bottom: 3%;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp {
  display: flex;
  align-items: center;
  align-self: center;
  font-weight: 600;
  margin: 3% 0 0 0;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp p {
  font-size: 1.4rem;
  margin-right: 2%;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp a {
  font-size: 1.4rem;
  color: #3086c2;
  text-decoration: none;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp a:hover {
  font-size: 1.5rem;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp .submitButton {
  background-color: #3086c2;
  color: white;
  font-size: 2.4rem;
  width: 150px;
  padding: 1.2% 0;
  width: 180px;
  border: none;
  border-radius: 8px;
  margin-right: 5%;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp .submitButton:hover {
  background-color: #1f549b;
  cursor: pointer;
}
.signUpFormContainer form .innerSignUpFormDiv .loginOrSignUp .disabledButton {
  background-color: #1d4f72;
  color: #2e2e2e;
  font-size: 2.4rem;
  width: 150px;
  padding: 1.2% 0;
  width: 180px;
  border: none;
  border-radius: 8px;
  margin-right: 5%;
}
.signUpFormContainer form .passwordDiv {
  display: flex;
  align-items: center;
  width: 550px;
}
.signUpFormContainer form .passwordDiv .iconStyle {
  height: 30px;
  margin-left: 2%;
}
.loginFormContainer {
  display: flex;
  justify-content: center;
}
.loginFormContainer form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  width: 80%;
}
.loginFormContainer form .innerLoginFormDiv label {
  display: flex;
  flex-direction: column;
  margin-top: 3% 0;
  font-size: 1.8rem;
  font-weight: 600;
}
.loginFormContainer form .innerLoginFormDiv label .valid {
  margin-top: 1%;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 35px;
  outline: none;
  appearance: none;
  margin-bottom: 3%;
}
.loginFormContainer form .innerLoginFormDiv label .valid:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt #3086c2;
  border-radius: 8px;
  border-color: #3086c2;
}
.loginFormContainer form .innerLoginFormDiv .notValid {
  margin: 1% 0;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 35px;
  outline: none;
  appearance: none;
}
.loginFormContainer form .innerLoginFormDiv .notValid:focus {
  outline: none;
  box-shadow: 0 0 3pt 1pt red;
  border-radius: 8px;
  border-color: red;
}
.loginFormContainer form .innerLoginFormDiv .error {
  font-size: 1.2rem;
  margin-top: 0;
  font-weight: 600;
  color: red;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp {
  display: flex;
  align-items: center;
  align-self: center;
  font-weight: 600;
  margin: 3% 0 0 0;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp p {
  font-size: 1.4rem;
  margin-right: 2%;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp a {
  font-size: 1.4rem;
  color: #3086c2;
  text-decoration: none;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp a:hover {
  font-size: 1.5rem;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp .submitButton {
  background-color: #3086c2;
  color: white;
  font-size: 2.4rem;
  width: 150px;
  padding: 1.2% 0;
  width: 180px;
  border: none;
  border-radius: 8px;
  margin-right: 5%;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp .submitButton:hover {
  background-color: #1f549b;
  cursor: pointer;
}
.loginFormContainer form .innerLoginFormDiv .loginOrSignUp .disabledButton {
  background-color: #1d4f72;
  color: #2e2e2e;
  font-size: 2.4rem;
  width: 150px;
  padding: 1.2% 0;
  width: 180px;
  border: none;
  border-radius: 8px;
  margin-right: 5%;
}
.loginFormContainer form .passwordDiv {
  display: flex;
  align-items: center;
  width: 550px;
}
.loginFormContainer form .passwordDiv .iconStyle {
  height: 30px;
  margin-left: 2%;
}
.dashboard {
  display: flex;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
.dashboard .currentPartyDiv {
  margin: 3.3% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0 1%;
  background: white;
}
.dashboard .currentPartyDiv h2 {
  align-self: flex-start;
  font-size: 1.5rem;
  margin: 2% 0;
}
.dashboard .playerStatsDiv {
  margin: 3% 3% 1% 1%;
  flex-direction: row;
}
.dashboard .friendsDiv {
  margin: 3.3% 4%;
  border: 1px solid black;
  width: 15%;
  padding: 0.5% 1%;
  border-radius: 7px;
  background: white;
  height: 75%;
}
.dashboard .friendsDiv h2 {
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 1.2rem;
}
.dashboard .friendsDiv .onlineFriends {
  margin-bottom: 1%;
}
.dashboard .friendsDiv .offlineFriends {
  font-size: 1.2rem;
  margin: 1% 0 0 0;
}
.playerCardContainer {
  display: flex;
  margin: 2%;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
}
.playerCardContainer .playerCardDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% auto;
  width: 100%;
  align-items: center;
}
.playerCardContainer .playerCardDiv h6 {
  font-size: 1.4rem;
  margin: 2% 1% 5% 0;
  width: 200px;
}
.playerCardContainer .playerCardDiv .playerCardImg {
  display: flex;
  margin-bottom: 5%;
  width: 100%;
  justify-content: center;
}
.playerCardContainer .playerCardDiv .playerCardImg img {
  width: 228px;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #d19900;
}
.playerCardContainer .playerCardDiv .playerInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playerCardContainer .playerCardDiv .playerInfoDiv p {
  font-size: 1.8rem;
  margin: 3% 5%;
}
.playerCardContainer .playerCardDiv .playerInfoDiv p span {
  font-weight: 600;
}
.playerCardContainer .playerCardDiv .playerInfoDiv .healthInfo {
  width: 300px;
  display: flex;
  align-items: center;
}
.playerCardContainer .playerCardDiv .playerInfoDiv .healthInfo p {
  margin: 2% 5%;
}
.partyCardContainer {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
  margin: 1.5% 0;
  background: #f0f0f0;
}
.partyCardContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #d19900;
}
.partyCardContainer .data {
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.partyCardContainer .data p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 4rem;
}
.partyListDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.friendCardContainer {
  margin: 10% 0;
}
.friendCardContainer .friendCardDiv {
  display: flex;
  position: relative;
  align-items: center;
  margin: 10% 0;
}
.friendCardContainer .friendCardDiv .friendImage {
  width: 36px;
  height: 36px;
  border-radius: 50px;
}
.friendCardContainer .friendCardDiv p {
  margin-left: 8%;
  font-size: 1.8rem;
  font-weight: 600;
}
.friendCardContainer .friendCardDiv .statusIcon {
  height: 10px;
  margin: 5% 0 0 8%;
  position: absolute;
  width: 10px;
  border-radius: 50px;
  background-color: #36AB65;
}
.friendCardContainer .friendCardDiv .statusIconOffline {
  height: 10px;
  margin: 5% 0 0 8%;
  position: absolute;
  width: 10px;
  border-radius: 50px;
  background-color: #ab3636;
}
.progressBar {
  position: relative;
  height: 17px;
  width: 125px;
  border: 1px solid #aed39b;
  background: #aed39b;
}
.filler {
  background: #47ca26;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
.canvas {
  width: 100%;
  height: 80%;
  font-size: 3rem;
}
.canvas .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 45%;
}
.canvas .controls button {
  background-color: #1f549b;
  color: white;
  font-weight: bold;
  border: none;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: black inset;
  height: 40px;
  width: 200px;
}
.canvas .controls button:hover {
  background-color: #3086c2;
  transition: 0.3s ease;
}
.modal {
  color: white;
  font-weight: bold;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.698);
  height: 100%;
  width: 100%;
}
.OpenModal {
  animation-name: openFade;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.hud {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.568);
  width: 96vw;
  color: white;
  text-shadow: 0 0 1px black;
  overflow: hidden;
}
.hud button {
  background-color: #1f549b;
  color: white;
  font-weight: bold;
  border: none;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: black inset;
  height: 40px;
  width: 200px;
}
.hud button:hover {
  background-color: #3086c2;
  transition: 0.3s ease;
}
.One {
  background-image: url(../../assets/backgrounds/stage1-export.png);
}
.stage {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.stage .enemy {
  position: absolute;
  right: 0;
  bottom: -10%;
}
.stage .char {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: -10%;
}
.stage .char .health {
  color: #e65151;
  text-shadow: 2px 2px 2px black;
}
.stage .char .mana {
  color: #4f4fc5;
  text-shadow: 2px 2px 2px black;
}
.stage .char .power {
  color: #dab85d;
  text-shadow: 2px 2px 2px black;
}
.stage .healthE {
  color: #288128;
  text-shadow: 2px 2px 2px black;
}
.stage .Damage {
  color: white;
  animation-name: shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
